<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[http://cdn.nk8686.com/apk/GSTD/yy/Meridian_Meridian.ipa]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://ali-fir-pro-icon.fir.im/27e4a7ea2c52841b3c281fd55afaab754a2c2d11?auth_key=1573653945-0-0-a9fb69f25c5193b1d9e0e094f138ba1b&amp;tmp=1573652145.6922908]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://ali-fir-pro-icon.fir.im/27e4a7ea2c52841b3c281fd55afaab754a2c2d11?auth_key=1573653945-0-0-a9fb69f25c5193b1d9e0e094f138ba1b&amp;tmp=1573652145.6922908]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.electrateam.chimera</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[Chimera]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>